@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Love+Light&family=Love+Ya+Like+A+Sister&family=Pacifico&family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200;1,300;1,400&family=Sono:wght@200;300;400;500&family=Zeyada&display=swap');
*{
    font-family: 'Love Ya Like A Sister', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Zeyada', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Sono', sans-serif;
    font-family: 'Babylonica', cursive;
    font-family: 'Love Ya Like A Sister', cursive;
}
h2{
    text-align: center;
    margin-top: 20px;
}
.login-div{
    position: absolute;
    left: 0;
    right: 0;
    top: 30vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    form{
        max-width: 400px;
        width: 90%;
        input,button{
            margin-top: 20px;
        }
        
    }
}
.form-check-label{
    margin-top: 20px;
}
.create_new_page{
    width: 90%;
    margin: auto;
    form{
        input,button,span{
            margin-top: 20px;
        }
    }
}
.terams_and_conditions{
    list-style-type: none;
    padding-inline-start: 0px !important;

    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}

.show-terms{
    position: absolute;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #fff;
    left: 100vw;
    transition-timing-function: ease-in;
    // animation: slider 3s;
    // padding: 10px;
    transition: 1s all;
    h3{
        text-align: center;
        letter-spacing: 1.5px;
        margin-top: 20px;
    }
    li{
        list-style-type: none;
        margin-top: 10px;
        background: #fff;
        background: url('https://j.gifs.com/yDNGog.gif');
        // background: url('https://i.makeagif.com/media/10-08-2016/OSmuFJ.gif');
        background-size: cover;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .broken-heart{
        height: 90vh;
    }
    img{
        margin: auto;
        display: flex;
    }
}
.slider{
    left:0px;
}
.show-terms-broken{
    position: absolute;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #fff;
    li{
        list-style-type: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .broken-heart{
        // height: 90vh;


    }
}
.show-terms-joined{
    position: absolute;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #fff;
    li{
        list-style-type: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .broken-heart{

    }
}
.proposal_home{
    // width: 90%;
    // margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    // background: url('https://i.pinimg.com/originals/77/7d/21/777d210599820ce0321f8d1612f24720.gif');
    // background: url('https://thumbs.gfycat.com/RawGoodnaturedGnat-max-1mb.gif');
    // background: url('https://www.icegif.com/wp-content/uploads/icegif-5606.gif');
    // background: url('https://www.icegif.com/wp-content/uploads/icegif-5601.gif');
    // background: url('https://thumbs.gfycat.com/BoilingThirdFoxhound-size_restricted.gif');
    // background: url('https://bestanimations.com/media/roses/281761993garden-roses-swaying-gif.gif');
    // background: url('https://data.whicdn.com/images/296880011/original.gif');
    // background: url('https://media.tenor.com/lMm17TqXuwwAAAAi/animal-cute.gif');

    .cheese_line{
        font-family: 'Love Light', cursive;
        font-size: 4rem;
        text-align: center;
        margin-top: 30px;
    }
    background-position: center;
    background-size: cover;
    h2{
        color: #fff;
        font-size: 20px;
        margin-top: 30px;
    }
}
.add-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    button{
    
        margin-left: 20px;
        // margin-bottom: 100px;
        
    }
    margin-bottom: 100px;
}

.text-clip{
    // font-weight: 700;
    font-size: 40px;
    background: url('https://img1.picmix.com/output/stamp/normal/6/6/2/5/795266_46389.gif');
    background: url('https://bestanimations.com/media/many-hearts/1949864533tiny-small-hearts-pattern-flying-animated-gif-2.gif');
    background: #fff;
    background: url('https://j.gifs.com/yDNGog.gif');
    // background: url('https://i.makeagif.com/media/10-08-2016/OSmuFJ.gif');
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.promises{
    width:90%;
    max-width: 700px;
    margin: auto;
    font-size: 20px;
    
}

.image_f{
    margin: auto;
    display: flex;

}

/* Keyframes Animations*/

@keyframes slider {
//   0%   {top: 100vw; left: 0px; background: red;}
//   25%  {top: 0px; left: 100px; background: blue;}
//   50%  {top: 100px; left: 100px; background: yellow;}
//   75%  {top: 100px; left: 0px; background: green;}
//   100% {top: 0px; left: 0px; background: red;}
    0%{ left: 100vw;}
    100%{ left: 0;}
}

.proposal_status{
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        // border-radius: 6px;
        // margin:15px;
      }
      
      tr:nth-child(even) {
        // background-color: #dddddd;
      }
}
.pending{
    background: rgb(245, 231, 121);
}
.accepted{
    background: rgba(73, 236, 89, 0.758);

}
.rejected{
    background: rgba(255, 59, 5, 0.757);

}
.about{
    background: url('https://www.brides.com/thmb/s0Z8B-vrlTnoY_UANYD10JOwx1c=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__5c1948eeba98247fa6942af3__11-6acb4f2401f44a598f4c6a235938aa2d.jpeg');
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h2{
        color:#fff;
    }
    button{
        background: url('https://media.tenor.com/7IDhzvakRJoAAAAC/love-hearts.gif');
        background: url('https://bestanimations.com/uploads/gifs/373846046large-beating-heart-gif-animation3.gif');
        background-position: center;
        padding: 10px 30px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        // -ms-transform: translateY(-50%);
        transform: translate(-50%,-50%);
        outline:none;
        border: none;
    }
    footer{
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        text-align: center;
        font-weight: 700;
        color: #720013;
        font-size:22px;
    }

}